<%- include('./partials/header') %>

<div class="container">
  <div class="row">
    <!-- <div class="col-xs-12">This app was developed using:</div> -->
    <h5>This app was developed using:</h5>
    <div class="col-sm-2 p-3">
      <!-- <img class="logo-img" src="https://i.imgur.com/LzzmHMI.png" /> -->
      <img src="https://i.imgur.com/LzzmHMI.png" alt="JavaScript" width="100"/>
    </div>
    <div class="col-sm-10 my-auto"><h5>JavaScript</h5></div>
    <div class="col-sm-2 p-3">
      <img src="https://i.imgur.com/Zh3lokU.png" alt="Node.js" width="100"/>
    </div>
    <div class="col-sm-10 my-auto"><h5>Node.js</h5></div>
    <div class="col-sm-2 p-3">
      <img src="https://i.imgur.com/eYJMJnZ.png" alt="Express" width="100"/>
    </div>
    <div class="col-sm-10 my-auto"><h5>Express</h5></div>
    <div class="col-sm-2 p-3">
      <img src="https://i.imgur.com/e5YpVDo.png" alt="BootStrap" width="100"/>
    </div>
    <div class="col-sm-10 my-auto"><h5>BootStrap</h5></div>
    <div class="col-sm-2 p-3">
      <img src="https://i.imgur.com/QkOKbCa.png" alt="MongoDB" width="100"/>
    </div>
    <div class="col-sm-10 my-auto"><h5>MongoDB</h5></div>
  </div>
</div>

<%- include('./partials/footer') %>
