<%- include('./partials/header') %>

<div class="row mt-4">
  <div class="col-7">
    <img id="book-img" src="/images/recipe-book.jpg">
  </div>
  <div class="col-4 offset-1 text-center align-self-center">
    <p>This application lets you keep track of your recipes.</p>
  </div>
</div>


<%- include('./partials/footer') %>