<%- include('./partials/header') %>

<div class="col-md-7">
  <img id="book-img" src="/images/recipe-book.jpg">
</div>
<div class="col-md-4 offset-md-1">
  <p>This application lets you keep track of your recipes.</p>
</div>



<%- include('./partials/footer') %>