#google-logo, #login-avatar {
  width: 24px;
  object-fit: contain;
  margin-right: auto;
}

#book-img {
  width: 100%;
  object-fit: contain;
}
/* 
.logo-img {
  width: 100px;
} */

#avatar {
  border-radius: 50%;
  height: 40px;
  object-fit: contain;
  margin-right: auto;
}