<%- include('../partials/header') %>

<form action="/recipes" method="POST">
  <div>
    <label>Title:</label>
    <input type="text" name="title">
  </div> 
  <div>
    <label>Description:</label>
    <input type="text" name="description">
  </div>
  <div>
    <input type="submit" value="Continue to Ingredients & Directions">
  </div>
</form>
<p><%= errorMsg %></p>

<%- include('../partials/footer') %>
